<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="image/pokeball.png" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Pokémon Revolution Online</title>
    </head>

    <body class="bg-dark">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: rgba(0, 0, 0, 0.8)">
                <div class="container">
                    <a class="navbar-brand h1 mb-0" href="/">Pokemon</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSite">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/download">Baixar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/community">Comunidade</a>
                            </li>
                            {% if sessao.existe('login') == null %}
                                <li class="nav-item">
                                    <a class="nav-link text-danger" href="#" data-toggle="modal" data-target="#registerModal">Cadastrar</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if sessao.existe('login') == null %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Entrar</a>
                            </li>
                        </ul>
                        {% endif %}
                        {% if sessao.existe('login') %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-uppercase" href="#" data-toggle="dropdown" id="navDrop">
                                        {{sessao.get('login')}}
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/logout">Sair</a>
                                        <a class="dropdown-item" href="/excluir">Excluir</a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

    {% block central %}
        
    {% endblock %}

        <footer class="footer text-white" style="background: rgba(0, 0, 0, 0.8)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                <h5>Políticas</h5>
                            </li>
                            <li>
                                <a href="#">Aviso</a>
                            </li>
                            <li>
                                <a href="#">Política de Privacidade</a>
                            </li>
                            <li>
                                <a href="#">Termos e Condições</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                <h4>Suporte</h4>
                            </li>
                            <li>
                                <a href="#">Contate-nos</a>
                            </li>
                            <li>
                                <a href="#">Forum</a>
                            </li>
                            <li>
                                <a href="#">Duvidas Frequentes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                <h4>Regras</h4>
                            </li>
                            <li>
                                <a href="#">Regras PRO</a>
                            </li>
                            <li>
                                <a href="#">Regras de bate-papo</a>
                            </li>
                            <li>
                                <a href="#">Regras de Comércio</a>
                            </li>
                            <li>
                                <a href="#">Regras PVP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <img src="image/pro.png" class="img-fluid d-block">
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal fade text-white" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document" style="margin-top:70px;">
                <div class="modal-content" style="background: rgba(0, 0, 0, 0.8)">
                    <div class="modal-body">
                        <form id="formLogin">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="inputUsuario">Username:</label>
                                    <input name="l-usuario" type="text" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputUsuario" required>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="inputSenha">Senha:</label>
                                    <input name="l-senha" type="password" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputSenha" required>
                                </div>
								<div id="div_erro" class="text-danger"></div>
                                <div class="mt-2 form-group col-sm-12">
                                    <button class="btn btn-danger btn-block" type="submit">Entrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade text-white" id="registerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="margin-top:70px;">
                <div class="modal-content" style="background: rgba(0, 0, 0, 0.8)">
                    <div class="modal-header">
                        <h5 class="modal-title">Registre agora!</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/register" method="POST">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label for="inputNome">Usuário</label>
                                    <input name="r-nome" type="text" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputNome" required>                    
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="inputEmail">Email</label>
                                    <input name="r-email" type="email" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputEmail" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="inputSenha1">Senha</label>
                                    <input name="r-senha" type="password" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputSenha1" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="inputSenha2">Confirme Senha</label>
                                    <input name="confirmarSenha" type="password" class="form-control border-dark text-white" style="background: rgba(63, 63, 63, 0.3)" id="inputSenha2" required>
                                </div>
                                <div class="form-group">
                                    <p>Ao se registrar, você concorda com nossos <a href="#">Termos e Condições</a>.</p>
                                    <p>Pense duas vezes sobre o seu nome de usuário. Se inapropriado, você será suspenso <span class="text-danger">permanetemente</span>.</p>
                                    <button class="btn btn-danger text-white" type="submit">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/js/funcoes.js"></script>
	</body>
</html>
