{% extends 'base.html' %}

{% block central %}

<br><br><br>
<div class="container text-white">
    <div class="row mt-5 mb-5">
        <div class="col-sm">
            <h2>Todas Publicações:</h2>
            {% for post in publicacoes %}
                {% for user_p in clientes %}
                    {%if post.id_cliente == user_p.id %}
                        <div class="rounded mb-3" style="background: #141414">
                            <div class="ml-2 mr-2">
                                {% if user_p.status == 1 %}
                                    <strong class="text-primary text-uppercase">{{user_p.nome}}</strong>
                                {% endif %}
                                {% if user_p.status == 0 %}
                                    <strong class="text-primary text-uppercase"><s>{{user_p.nome}}</s></strong>
                                {% endif %}
                                <em style="font-size: 12px">&nbsp&nbsp{{post.data}}</em><br>
                                <a class="text-uppercase">{{post.titulo}}</a><br>
                                <hr class="ml-1 mr-1 border-primary">
                                {{post.conteudo | raw}}<br>
                                <hr class="ml-1 mr-1 border-primary">
                            </div>
                            {% for comment in comentarios %}
                                {%if comment.id_publicacao == post.id %}
                                    {% for user_c in clientes %}
                                        {% if comment.id_cliente == user_c.id %}
                                            <div class="ml-1">
                                                {% if user_c.status == 1 %}
                                                    <strong class="text-primary text-uppercase">{{user_c.nome}}</strong>
                                                {% endif %}
                                                {% if user_c.status == 0 %}
                                                    <strong class="text-primary text-uppercase"><s>{{user_c.nome}}</s></strong>
                                                {% endif %}
                                                <em style="font-size: 12px">&nbsp&nbsp{{comment.data}}</em>
                                            </div>
                                            <div class="rounded ml-5 mr-1 bg-dark">
                                                <div class="ml-1 mr-1 mb-1">
                                                    {{comment.conteudo}}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% if sessao.existe('login') %}
                                <form action="/comment" method="POST">
                                    <div class="row">
                                        <div class="form-group col-sm ml-1">
                                            <label for="inputComentario" class="sr-only">Comentario</label>
                                            <textarea type="text" cols="69" rows="1" name="comentario" id="inputComentario" class="rounded" placeholder="Comente algo" required></textarea>
                                        </div>
                                        <div class="form-group col-sm-auto mr-1">
                                            <input type="hidden" name="id_p" value="{{post.id}}" id="id" class="id">
                                            <button class="rounded btn-primary btn-block" type="submit">Comentar</button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        {% if sessao.existe('login') %}
            <div class="col-sm-5">
                <h2>Publicar:</h2>
                <form action="/publication" method="POST">
                    <div class="form-group">
                        <label for="inputTitulo">Dê um titulo para sua publicação:</label>
                        <input name="titulo" type="text" class="form-control" id="inputTitulo" required>  
                        <label for="inputConteudo">Publicação:</label>
                        <textarea name="conteudo" type="text" cols="45" rows="5" class="form-control" id="inputConteudo" required></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Publicar</button>
                </form>
                <h2>Minhas Publicações:</h2>
                
                
                {% for user_p in clientes %}
                    {%if id_user == user_p.id %}
                        {% for post in publicacoes %}
                            {%if post.id_cliente == user_p.id %}
                                <div class="rounded mb-3" style="background: #141414">
                                    <div class="ml-2 mr-2">
                                        <strong class="text-primary text-uppercase">{{user_p.nome}}</strong>
                                        <em style="font-size: 12px">{{post.data}}</em>
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"></a>
                                        <div class="dropdown-menu">
                                            <form class="dropdown-item" action="/alterar" method="POST">
                                                <input type="hidden" name="alt_p" value="{{post.id}}">
                                                <button class="rounded btn-primary btn-block" type="submit">editar</button>
                                            </form>
                                            <form class="dropdown-item" action="/delete_p" method="POST">
                                                <input type="hidden" name="del_p" value="{{post.id}}">
                                                <button class="rounded btn-primary btn-block" type="submit">excluir</button>
                                            </form>
                                        </div>
                                        <br>
                                        <a class="text-uppercase">{{post.titulo}}</a><br>
                                        <hr class="ml-1 mr-1 border-primary">
                                        {{post.conteudo}}<br>
                                        <hr class="ml-1 mr-1 border-primary">
                                    </div>
                                    {% for comment in comentarios %}
                                        {%if comment.id_publicacao == post.id %}
                                            {% for user_c in clientes %}
                                                {% if comment.id_cliente == user_c.id %}
                                                    <div class="ml-1">
                                                        {% if user_c.status == 1 %}
                                                            <strong class="text-primary text-uppercase">{{user_c.nome}}</strong>
                                                        {% endif %}
                                                        {% if user_c.status == 0 %}
                                                            <strong class="text-primary text-uppercase"><s>{{user_c.nome}}</s></strong>
                                                        {% endif %}
                                                        <em style="font-size: 12px">&nbsp&nbsp{{comment.data}}</em>
                                                    </div>
                                                    <div class="rounded ml-5 mr-1 bg-dark">
                                                        <div class="ml-1 mr-1 mb-1">
                                                            {{comment.conteudo}}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <form action="/comment" method="POST">
                                        <div class="row">
                                            <div class="form-group col-sm ml-1">
                                                <label for="inputComentario" class="sr-only">Comentario</label>
                                                <textarea type="text" cols="41" rows="1" name="comentario" id="inputComentario" class="rounded" placeholder="Responda sua publicação" required></textarea>
                                            </div>
                                            <div class="form-group col-sm-auto mr-1">
                                                <input type="hidden" name="id_p" value="{{post.id}}" id="id" class="id">
                                                <button class="rounded btn-primary btn-block" type="submit">Responder</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}