{% extends 'base.html' %}

{% block central %}
<br><br><br>
<div class="container text-white">
    <div class="row mt-5 mb-5">
        <div class="col-sm-6">
            <h2 class="font-weight-bold">Download do cliente</h2>
            <h6>Windows 64bit</h6>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="Primeiro grupo">
                     <button type="button" class="btn btn-primary">Mega</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Segundo grupo">
                     <button type="button" class="btn btn-primary">Mediafire</button>
                </div>
                <div class="btn-group" role="group" aria-label="Terceiro grupo">
                    <button type="button" class="btn btn-primary">Void</button>
                </div>
            </div>
            <h6>Windows 32bit</h6>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="Primeiro grupo">
                    <button type="button" class="btn btn-primary">Mega</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Segundo grupo">
                    <button type="button" class="btn btn-primary">Mediafire</button>
                </div>
                <div class="btn-group" role="group" aria-label="Terceiro grupo">
                    <button type="button" class="btn btn-primary">Void</button>
                </div>
            </div>
            <h6>Outras plataformas</h6>
            <div class="btn-toolbar" role="toolbar">             
                <div class="btn-group mr-2" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Android
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Mediafire</a>
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Anonfiles</a>
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Ufiles</a>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mac
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Mediafire</a>
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Mega</a>
                        <a class="dropdown-item" target="_blank" href="http://tiny.cc/PRO64Mega">Void</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="image/login.jpg">
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <h2 class="font-weight-bold mb-3">3 passos para jogar PRO:</h2>
        <div class="row text-center">
            <div class="col-sm-4">
                <img src="image/player.png" class="img-fluid d-block" style="margin: 0 auto">
                <h5 class="font-weight-bold">Registre uma conta</h5>
                <p>Demora menos de 5 minutos para registrar uma conta.</p>
            </div>
            <div class="col-sm-4">
                <img src="image/player.png" class="img-fluid d-block" style="margin: 0 auto">
                <h5 class="font-weight-bold">Download do jogo</h5>
                <p>Download do jogo para Windows, Mac ou Android.</p>
            </div>
            <div class="col-sm-4">
                <img src="image/smartphone.png" class="img-fluid d-block" style="margin: 0 auto">
                <h5 class="font-weight-bold">Jogue</h5>
                <p>Comece sua jornada e explore o mundo de Pokémon hoje!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}