{% extends 'base.html' %}

{% block central %}
<br><br><br><br><br><br><br>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="text-light display-1 d-block">404</span>
                <div class="text-light mb-4 lead">A página que você está procurando não foi encontrada.</div>
                <a href="/" class="btn btn-link">Voltar para Home</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
{% endblock %}