{% extends 'base.html' %}

{% block central %}
<div class="container text-white">
    <img src="image/bg.jpg" class="img-fluid d-block" width="100%" height="100%"
    style="width: 100%; height: 420px; object-fit: cover;">
    <div class="row mb-3">
        <div class="col-12 text-center my-3">
            <h2 class="text-uppercase text-white">ÚLTIMAS NOTÍCIAS E ATUALIZAÇÕES</h2>
        </div>
    </div>

    <div class="row">
        {% if sessao.get('login') == 'admin' %}
            <div class="col-lg-6 mb-3">
                <form action="/noticia" method="POST">
                    <div class="form-group">
                        <label for="inputTitulo">Dê um titulo para sua noticia:</label>
                        <input name="titulo" type="text" class="form-control" id="inputTitulo" required>  
                        <label for="inputConteudo">Noticia:</label>
                        <textarea name="conteudo" type="text" cols="45" rows="5" class="form-control" id="inputConteudo" required></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Publicar</button>
                </form>
            </div>
        {% endif %}
        {% for post in publicacoes %}
            {%if post.id_cliente == adm %}
                <div class="col-lg-6">
                    <div class="rounded mb-3" style="background: #141414">
                        <div class="ml-2 mr-2">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <strong class="text-primary text-uppercase">ADM</strong>
                                </li>
                                <li class="list-inline-item">
                                    <em style="font-size: 12px">&nbsp&nbsp{{post.data}}</em>
                                </li>
                                {% if sessao.get('login') == 'admin' %}
                                <li class="list-inline-item">
                                    <form action="/delete_n" method="POST">
                                        <input type="hidden" name="del_p" value="{{post.id}}">
                                        <button class="rounded btn-primary btn-block" type="submit">excluir</button>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                            <a class="text-uppercase">{{post.titulo}}</a><br>
                            <hr class="ml-1 mr-1 border-primary">
                            {{post.conteudo}}<br><br>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}